* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  font-stretch: wider;
}
nav {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  background-color: rgb(54, 91, 92);
}
a {
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
  background-color: rgba(240, 248, 255, 0.2);
  text-decoration: none;
  color: rgb(226, 226, 226);
  font-weight: 600;
}
h1,
h2 {
  margin: 1rem 2rem;
}
